@model CategoryDetailViewModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    ViewData["Title"] = Model.Category.Object.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}



@section Css {
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/category.css">
}

<style>
    header .header nav ul li a.nav-link {
        display: block;
        text-decoration: none;
        padding: 15px;
        white-space: nowrap;
        color: black;
        letter-spacing: 0.5px;
    }
</style>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<section class="breadcrumb mt-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/">Home</a>
                <span>›</span>
                <span>@Model.Category.Object.CategoryName</span>
            </div>
        </div>
    </div>
</section>

<section class="category mt-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
                <div class="title-box">
                    <div class="title">
                        <h2>
                            @Model.Category.Object.CategoryName
                        </h2>
                    </div>
                    <div class="content">
                        @Model.Category.Object.Description
                    </div>
                </div>
                <div class="sortby mt-5">
                    <div class="title">
                        Sort By
                    </div>
                    <div class="action-sortby">
                        <ul class="mt-3 mb-3 p-0">
                            <li>
                                <input type="radio" name="sortby" id="" checked>
                                <span>
                                    Featured
                                </span>
                            </li>
                            <li>
                                <input type="radio" name="sortby" id="">
                                <span>
                                    Price, low to high
                                </span>
                            </li>
                            <li>
                                <input type="radio" name="sortby" id="">
                                <span>
                                    Price, high to low
                                </span>
                            </li>
                            <li>
                                <input type="radio" name="sortby" id="">
                                <span>
                                    Alphabetically, A-Z
                                </span>
                            </li>
                            <li>
                                <input type="radio" name="sortby" id="">
                                <span>
                                    Alphabetically, Z-A
                                </span>
                            </li>
                            <li>
                                <input type="radio" name="sortby" id="">
                                <span>
                                    Date, old to new
                                </span>
                            </li>
                            <li>
                                <input type="radio" name="sortby" id="">
                                <span>
                                    Date, new to old
                                </span>
                            </li>
                            <li>
                                <input type="radio" name="sortby" id="">
                                <span>
                                    Best Selling
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="actiton-sortby-select mt-1 mb-5">
                        <div class="form-group">
                            <select class="form-control w-25 rounded-0 m-auto" id="exampleFormControlSelect1">
                                <option>Featured</option>
                                <option>Price, low to high</option>
                                <option>Price, high to low</option>
                                <option>Alphabetically, A-Z </option>
                                <option>Alphabetically, Z-A</option>
                                <option>Date, old to new</option>
                                <option>Date, new to old</option>
                                <option>Best Selling</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row product">

                    @foreach (var item in Model.ItemProductsWithPaging.Object.Items)
                    {
                        var URLDetail = $"/{culture}/{_loc[ConstantsDisplay.ECW_SystemURL_Products]}/{item.ID}";
                    <div class="col-6 mt-3 mb-5">
                        <a href="@URLDetail">
                            <div class="box-product">
                                <div class="images">
                                    <img src="@Model.BaseURLApi/user-content/@item.ImgDefaultPath" alt="@item.ProductName">
                                    <img src="@Model.BaseURLApi/user-content/@item.ImgDefaultPath" alt="@item.ProductName">
                                </div>
                                <div class="title">
                                    <a href="@URLDetail">
                                        @item.ProductName
                                    </a>
                                </div>
                                @if (culture == "vi")
                                {
                                    <div class="price">@item.PriceFormat VND</div>
                                }
                                else if (culture == "en")
                                {
                                    <div class="price">@item.PriceDollarFormat $</div>
                                }
                                <div class="star">

                                    @if (@item.Views <= 5)
                                    {
                                        <i class="fa fa-star"></i>

                                    }
                                    else if (item.Views > 5 && item.Views <= 10)
                                    {
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    }
                                    else if (item.Views > 10 && item.Views <= 15)
                                    {
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    }
                                    else if (item.Views > 15 && item.Views <= 20)
                                    {
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    }
                                    else if (item.Views > 20 && item.Views <= 25)
                                    {
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    }

                                    <div>
                                        @item.Views <localize>@ConstantsDisplay.ECW_Home_Index_ViewCountProducts</localize>
                                    </div>

                                </div>
                            </div>
                        </a>
                            
                    </div>
                    }

                    
                </div>
                <div class="row mb-5">
                    <div class="col-12">

                          @await Component.InvokeAsync("Page", Model.ItemProductsWithPaging.Object)
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
