@using ProjectWeb.Models.Home
@model HomeViewModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    ViewData["Title"] = "Home Page";
    var culture = CultureInfo.CurrentCulture.Name;
}



<section class="banner p-0">
    <div class="bg-banner"></div>
    <div class="container-fluid">
        <div class="content-box mt-5 wow slideInUp">
            <div class="title wow slideInUp">
                <h2>6.67" Amoled 120 Hz with HDR10+.</h2>
            </div>
            <div class="content">
                “new technology, new understanding”
            </div>
            <div class="button mt-3">
                <button class="btn btn-dark">Shop now</button>
            </div>
        </div>
    </div>
</section>
<section class="welcome mt-5 wow slideInUp">
    <div class="container-fluid">
        <div class="row content">
            <div class="col text-center">
                <div class="title">
                    <h2>Welcome to Queenstown</h2>
                </div>
                <div class="content">
                    Organic smoothies are our thing. For 15 years we have been
                    crafting award-winning organic, fair trade fruit into delicious
                    smoothies from our store in Queenstown. For the first time, it's
                    now available online. We hope you like it.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="whatwedo mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="content-box-big">
                    <div class="content-box-bg"></div>
                    <div class="content-box">
                        <div class="wow slideInUp">
                            <div class="title">
                                <h2>Samsung Galaxy Note 20 Ultra 5G</h2>
                            </div>
                            <div class="content">
                                We make nutritious smoothies from organically and
                                responsibly sourced produce. We aim to use as much as we
                                can from local sources in Australia, but if that's not
                                possible then we will reach out across the world to
                                sustainable suppliers!
                                <br /><br />
                                We also like to share recipes, tips and tricks with you,
                                so make sure you follow us for all the best freebies in
                                smoothie-making!
                            </div>
                            <div class="button mt-3">
                                <button class="btn btn-dark rounded-0">
                                    Order Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products mt-5 wow slideInUp">
    <div class="container-fluid">
        <div class="row content">
            <div class="col text-center">
                <div class="title">
                    <h2><localize>@ConstantsDisplay.ECW_Home_Index_OurFeaturedProducts</localize> </h2>
                </div>
            </div>
        </div>
        <div class="row product">
            @foreach (var item in Model.ItemProducts)
            {
                var slugHelper = new Slugify.SlugHelper();
                string titleSlug = slugHelper.GenerateSlug(item.ProductName);
                var URLDetail = $"/{culture}/{_loc[ConstantsDisplay.ECW_SystemURL_Products]}/{item.ID}?title={titleSlug}.html";
                <div class="col-6 col-sm-4 mt-3">
                    <a href="@URLDetail">
                        <div class="box-product">
                            <div class="images">
                                <img src="@Model.BaseURLApi/user-content/@item.ImgDefaultPath"
                                     alt="products" />
                                <img src="@Model.BaseURLApi/user-content/@item.ImgDefaultPath" alt="@item.ProductName" />
                            </div>
                            <div class="title">
                                <a href="@URLDetail"> @item.ProductName </a>
                            </div>
                            @if (culture == "vi")
                            {
                                <div class="price">@item.PriceFormat VND</div>
                            }
                            else if (culture == "en")
                            {
                                <div class="price">@item.PriceDollarFormat $</div>
                            }

                            <div class="star">

                                @if (@item.Views <= 5)
                                {
                                    <i class="fa fa-star"></i>

                                }
                                else if (item.Views > 5 && item.Views <= 10)
                                {
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                }
                                else if (item.Views > 10 && item.Views <= 15)
                                {
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                }
                                else if (item.Views > 15 && item.Views <= 20)
                                {
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                }
                                else if (item.Views > 20)
                                {
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                }

                                <div>
                                    @item.Views <localize>@ConstantsDisplay.ECW_Home_Index_ViewCountProducts</localize>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</section>
<section class="whatisit mt-5 p-0">
    <div class="content-box-big">
        <div class="content-box-bg"></div>
        <div class="content-box">
            <div class="wow slideInUp">
                <div class="title">
                    <h2>Why is it so good for me?</h2>
                </div>
                <div class="content">
                    Find out what makes our smoothies bursting with nutrients and
                    anti-oxidents!
                </div>
                <div class="button mt-3">
                    <button class="btn btn-dark rounded-0">Find Out More</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="whatisnew mt-5 wow slideInUp">
    <div class="container-fluid">
        <div class="row content">
            <div class="col text-center">
                <div class="title">
                    <h2>What's New?</h2>
                </div>
            </div>
        </div>
        <div class="row news">
            <div class="col">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="images">
                            <a href="detail_blogs.html">
                                <img src="/data/blog_3_600x450_crop_center.webp" alt="" />
                            </a>
                        </div>
                        <div class="date">September 20, 2017</div>
                        <div class="title">
                            <a href="detail_blogs.html">We got you to write us your favourite recipes.</a>
                        </div>
                        <div class="content">
                            Thanks to everyone who contributed by sending in your
                            favourite recipe! See what other people submitted, maybe
                            you'll discover a new favourite.
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="detail_blogs.html">
                                <img src="/data/blog_2_600x450_crop_center.webp" alt="" />
                            </a>
                        </div>
                        <div class="date">September 20, 2017</div>
                        <div class="title">
                            <a href="detail_blogs.html">Seasonal smoothies: How to nail them!</a>
                        </div>
                        <div class="content">
                            Who doesn't love Christmas? Or perhaps Halloween? Well,
                            we've gathered a collection of all the best seasonal
                            smoothies for you to feast your eyes on!
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="detail_blogs.html">
                                <img src="/data/blog_1_600x450_crop_center.webp" alt="" />
                            </a>
                        </div>
                        <div class="date">September 20, 2017</div>
                        <div class="title">
                            <a href="detail_blogs.html">The art of the breakfast smoothie.</a>
                        </div>
                        <div class="content">
                            <strong>
                                We know all about the “morning rush” freakout
                                moments.
                            </strong>
                            We want to be able to eat well in the morning, and preparing
                            smoothies can seem daunting and time consuming. Well folks,
                            it's not as complicated as you might think!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="asseenin mt-5 pt-5 pb-5">
    <div class="container-fluid wow slideInUp">
        <div class="row content">
            <div class="col text-center">
                <div class="title">
                    <h2>As seen in</h2>
                </div>
            </div>
        </div>
        <div class="box-asseenin-big justify-content-center d-flex">
            <div class="row box-assenin justify-content-center">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <img src="/data/asseendin_1.webp" alt="" />
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <img src="/data/asseend_2.webp" alt="" />
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <img src="/data/asseendin_3.webp" alt="" />
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <img src="/data/asseendin_4.webp" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials mt-5 wow slideInUp">
    <div class="container-fluid">
        <div class="row content">
            <div class="col text-center">
                <div class="title">
                    <h2>Testimonials</h2>
                </div>
            </div>
        </div>
        <div class="row box-testimonials justify-content-center text-center">
            <div class="col-sm-6 col-md-4">
                <div class="star">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                <div class="content">
                    Tastes great, chilled on a summer evening. But don't make the
                    mistake of only drinking it then, this is too good for that!
                    Keep up the good work guys :)
                </div>
                <div class="user">Max Walker</div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="star">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                <div class="content">
                    Always a hit in my house, the flavours are perfect, just tastes
                    so fresh, not sure how you guys do it!
                </div>
                <div class="user">Finley Jackson</div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="star">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                <div class="content">
                    I love my morning smoothies, and normally make my own, but these
                    taste so fresh, and are so well priced, I just can't help
                    myself!
                </div>
                <div class="user">William Anderson</div>
            </div>
        </div>
    </div>
</section>
<section class="wanttoknow mt-5 p-0">
    <div class="content-box-big">
        <div class="content-box-bg"></div>
        <div class="content-box">
            <div class="wow slideInUp">
                <div class="title">
                    <h2>Want to know where we get it all from?</h2>
                </div>
                <div class="button mt-3">
                    <button class="btn btn-dark rounded-0">Discover More</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="instagram py-5 px-0">
    <div class="container-fluid">
        <div class="row content">
            <div class="col text-center">
                <div class="title">
                    <h2>Instagram</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="instagram-box clearfix wow slideInUp">
        <div class="box-insta float-left">
            <div class="bg-box"></div>
            <a href="http://"> <img src="/data/instagram_1.jpg" alt="" /></a>
            <span class="camera">
                <i class="fa fa-circle fa-4x"></i>
                <i class="fab fa-instagram fa-2x"></i>
            </span>
        </div>
        <div class="box-insta float-left">
            <div class="bg-box"></div>
            <a href="http://"><img src="/data/instagram_2.jpg" alt="" /></a>
            <span class="camera">
                <i class="fa fa-circle fa-4x"></i>
                <i class="fab fa-instagram fa-2x"></i>
            </span>
        </div>
        <div class="box-insta float-left">
            <div class="bg-box"></div>
            <a href="http://"><img src="/data/instagram_3.jpg" alt="" /></a>
            <span class="camera">
                <i class="fa fa-circle fa-4x"></i>
                <i class="fab fa-instagram fa-2x"></i>
            </span>
        </div>
        <div class="box-insta float-left">
            <div class="bg-box"></div>
            <a href="http://"><img src="/data/instagram_4.jpg" alt="" /></a>
            <span class="camera">
                <i class="fa fa-circle fa-4x"></i>
                <i class="fab fa-instagram fa-2x"></i>
            </span>
        </div>
        <div class="box-insta float-left">
            <div class="bg-box"></div>
            <a href="http://"><img src="/data/instagram_5.jpg" alt="" /></a>
            <span class="camera">
                <i class="fa fa-circle fa-4x"></i>
                <i class="fab fa-instagram fa-2x"></i>
            </span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row button">
            <div class="col text-center">
                <button class="btn">Follow Us</button>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row info">
            <div class="col">
                <div class="owl-carousel owl-theme">
                    <div class="item box">
                        <div class="title">Free Delivery Worldwide</div>
                        <div class="content">Click here for more info</div>
                    </div>
                    <div class="item box">
                        <div class="title">Final Clearance Sale</div>
                        <div class="content">Up to 70% off</div>
                    </div>
                    <div class="item box">
                        <div class="title">New Store Opening</div>
                        <div class="content">Lisbon - Opening September!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
